/.*
!.gitignore
!.gitattributes
!.dockerignore
!.editorconfig
!.pre-commit-*
!.gitlab-ci.*
!.hadolint.*
!.yamlfmt.*
!.astylerc
!.clang-tidy
!.clangd
!.github
/*.md
!/README.md
/build*/
docker-compose.override.*
.DS_Store
Thumbs.db
